:root {
    --Fill: hsl(0, 0%, 99%);
    --Text: rgb(0, 0, 0);
    --Surface: hsl(0, 0%, 100%);
    --onSurface:rgb(0, 0, 0);
    --FillAlt: hsl(0, 0%, 20%);
    --TextAlt: rgb(255, 255, 255);
    --Shadow: 4px 4px 4px 0px #00000020;
    --AccentShadow:#F8C62576;
    --AccentShadowPressed: #094fffcd;
    --Accent: orangered;
    --UnderlineGradient: 
        linear-gradient(
            to right,
            rgba(255, 60, 0, 1),
            rgba(255, 60, 0, 0)
        ),
        linear-gradient(
            to right,
            rgb(255, 153, 0),
            rgba(255, 60, 0, 1)
        );
        --UnderlineSolid: 
        linear-gradient(
            to right,
            rgb(0, 0, 0),
            rgba(255, 60, 0, 0)
        ),
        linear-gradient(
            to right,
            rgb(0, 0, 0),
            rgb(0, 0, 0)
        );

    --minView:300px;
    --minViewUnitless:300;

    --maxView:1600px;
    --maxViewUnitless:1600;

    --minParagraph: 12px;
    --minParagraphUnitless:12;

    --maxParagraph: 24px;
    --maxParagraphUnitless:24;

    --minParagraphSmall: 12px;
    --minParagraphUnitlessSmall:12;

    --maxParagraphSmall: 18px;
    --maxParagraphUnitlessSmall:18;

    --minH1: 72px;
    --minH1Unitless:72;

    --maxH1: 144px;
    --maxH1Unitless:144;

    --fluidParagraph: calc(var(--minParagraph) + (var(--maxParagraphUnitless) - var(--minParagraphUnitless)) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidParagraphSmall: calc(var(--minParagraphSmall) + (var(--maxParagraphSmallUnitless) - var(--minParagraphSmallUnitless)) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH1: calc(var(--minH1) + (var(--maxH1Unitless) - var(--minH1Unitless)) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH2: calc(var(--minH1) - 44px + (var(--maxH1Unitless) - var(--minH1Unitless) -44) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH3: calc(var(--minH1) - 44px + (var(--maxH1Unitless) - var(--minH1Unitless) -44) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH3: calc(var(--minH1) - 40px + (var(--maxH1Unitless) - var(--minH1Unitless)) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH4: calc(var(--minH1) - 96px + (var(--maxH1Unitless) - var(--minH1Unitless)) * ((100vw - var(--minView))/(var(--maxViewUnitless) - var(--minViewUnitless))));
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior:smooth ;
}

body {
    transition: opacity 500ms;
}

a{
    text-decoration: none;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: var(--fluidH1);
    word-wrap: break-word;
    margin: 0px;

}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: var(--fluidH2);
    margin-left: 12px;
}

h3 {
    font-family: Helvetica, sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

h4 {
    font-family: Helvetica, sans-serif;
    margin:0px;

}

spinner{
    padding-top:auto;
    padding-left:auto;
    padding-right:auto;
    padding-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap:5vw;
    background: var(--Fill);
    color: var(--Text);

    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.horizontal_scrolling_app_preview{
    height:90vh;
    width:100%;
    max-width: 100%;
    overflow-x: scroll;
    overflow: hidden;
    
}

.app_screens_side_by_side{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:fit-content;
    height:100%;

}

.app_screen{
    width:300px;
    height:auto;
}

.tactileCubeIso{
    width:300px;
    height:300px;
    border-radius: 24px;
}

.full-height {
    height:100%;
    width:auto;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--fluidParagraph);
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
}

li{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--fluidParagraph);
    margin-bottom:12px;

}

p.small {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--fluidParagraphSmall);
    margin-left: 12px;
    margin-right: 12px;

}

#projects{
    padding: top 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.project_list{
    padding: top 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.full-width{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card {
    width: 100%;
    height: 300px;
    padding-bottom:12px;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    overflow: hidden;

    border-radius: 16px;

    padding:0px;
    background-color: var(--Surface);
    color: var(--onSurface);
    box-shadow: 4px 4px 4px 0px var(--Shadow);
    transition: all 400ms;
  
}
img.card_cover {
    height: 100%;
    width: 486px;
}

@media only screen and (max-width: 1080px){

    .card {
        width: 100%;
        height: 300px;
        padding-bottom:12px;
        display:flex;
        flex-direction:row;
        align-items: flex-start;
        overflow: hidden;

        border-radius: 16px;

        padding:0px;
        background-color: var(--Surface);
        color:var(--onSurface);
        box-shadow: var(--Shadow);
        transition: all 400ms;
      
    }
    img.card_cover {
        height: 300px;
        width: 486px;
    }
}


@media only screen and (max-width: 850px) {
    

    .card {
        width: calc(90vw - 100px);
        height: auto;
        padding-bottom:12px;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        overflow:hidden;

        border-radius: 16px;

        padding:0px;
        background-color: var(--Surface);
        color: var(--onSurface);
        box-shadow: (--Shadow);
        transition: all 400ms;
      
    }
    img.card_cover {
        width:100%;
        height: calc((90vw - 100px)*.62);
    }

}
@media only screen and (max-width: 400px) {
    

    .card {
        width: calc(100vw - 100px);
        height: auto;
        padding-bottom:12px;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        overflow:hidden;

        border-radius: 16px;

        padding:0px;
        background-color: var(--Surface);
        color: var(--onSurface);
        box-shadow: var(--Shadow);
        transition: all 400ms;
      
    }
    img.card_cover {
        height: calc((100vw - 100px)*.62);
    }
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 6px var(--AccentShadow);
}

.card:active {
    transform: translateY(-10px);
    box-shadow: 0px 0px 6px 6px var(--AccentShadowPressed);
}

a{
    color: var(--Text);
    text-decoration: none;

}

a.animated {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: lighter;
    font-size: var(--fluidParagraph);
    line-height: 30px;
  
    color: var(--Text);
  
  /* Inspired by this article by Harshil Patel:
  https://css-tricks.com/css-link-hover-effects */
      text-decoration: none;
  
      background:
        var(--UnderlineGradient);
  
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: all 400ms;
  }

a.animated:hover {
    background-size: 0 3px, 100% 3px;
    color: var(--Text);
    font-weight: bolder;
    font-size: calc(var(--fluidParagraph) + 2px);
  }

a.animated:active {
    opacity: 50%;
    
}


a.subtle {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--fluidParagraph);
  background: var(--UnderlineSolid);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  transition: all 400ms;
  }

a.subtle:hover {
    background-size: 0 2px, 100% 3px;
    color: var(--Text);
    font-weight: 400;
    transform: scale(1.2);
}

a.alt{
    color:var(--TextAlt)
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 12px;
    padding-right: 24px;
    padding-top:8px;
    padding-bottom: 8px;
    width: -webkit-calc(100% - 52px);
    margin:8px;

    display:flex;
    flex-flow: row wrap;
    gap: 10px 24px;

    /*box-shadow: var(--Shadow);*/

    transition: top 500ms;
    font-family: "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    word-wrap: normal;

    display: flex column;
    justify-content: flex-start;
    align-items: center;

    color:  var(--onSurface);
    background-color: var(--Surface);
    border-radius: 8px;
    z-index: 10;
}


  
wrapper {

    padding-top:0px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5vw;
    background: var(--Fill);
    color: var(--Text);

    position: absolute;
    left:0px;
    right:0px;
    top:0px;

}

container.flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: left;
    row-gap: 24px;
    align-content: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width:100%;
}

container.flex_stacker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;
    gap: 1vh;
    width:100%;
    max-width: 100%;
    

    /*max-width: 1048px;*/

}

img.spinner{
    height:150px;
    width:150px;
}

.project_summary{
    display:grid;
    grid-template-columns: 4fr 1fr 3fr;
    /*max-width: 1048px;*/
    width:100%;
}
#introduction{
    grid-column:1/2;
}
#roleAndImpact{
    grid-column:3/4;
    display:flex;
    flex-direction: column;
    gap:0px;
}
.hero_container{
    height: 100vh;
    width: 100vw;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    overflow: clip;
    border-radius: 0px;
    
    background: url(assets/hero.jpg) ;
    background-size: cover;
    background-position: center;

    color: var(--Text)
}

p.hero_text{
    color: #F8C625;
    border-radius: 30px;
    background-color: black;
    padding: 8px;
    padding-right: ;
}

.opacity_layer{
    height:100%;
    width:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20vh;
    
    background: #00000020;

    color:var(--TextAlt);
}


.above_the_fold{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.less_space{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:12px;
    
}

.surface{
    background-color: var(--Surface);
    color: var(--onSurface);
    border: radius 12px;
}

@media only screen and (max-width:750px) {

    .hero_text{
        font-size: larger;
    }

    .less_space{
        padding-left:20vw;
        opacity: 100%;
    }
}

.mobile_prototype{
    width:100%;
    height:calc(100vh);
    border-radius: 24px;
    overscroll-behavior: auto;
}



wrapper.garden{
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;

    background-color: rgb(62, 73, 11);
    color:rgb(216, 226, 175);
  }

  p.flowerbed{
    font-family: 'Times New Roman', Times, serif;
  }

  p.vegetable_row{
    font-family: 'Times New Roman', Times, serif;
}

.youtube_embed{
    width:85vw;
    height:48vw;
    border-radius: 24px;
}