:root {
    --Fill: #ffffff;
    --Text: #000000;
    --FillAlt: #000000;
    --TextAlt: #ffffff;
    --Accent: orangered;
    --UnderlineGradient: 
        linear-gradient(
            to right,
            rgba(255, 60, 0, 1),
            rgba(255, 60, 0, 0)
        ),
        linear-gradient(
            to right,
            rgb(255, 153, 0),
            rgba(255, 60, 0, 1)
        );

    --minView:300px;
    --minViewUnitless:300;

    --maxView:1600px;
    --maxViewUnitless:1600;

    --minParagraph: 16px;
    --minParagraphUnitless:16;

    --maxParagraph: 32px;
    --maxParagraphUnitless:32;

    --minH1: 32px;
    --minH1Unitless:32;

    --maxH1: 64px;
    --maxH1Unitless:64;

    --fluidParagraph: calc(var(--minParagraph) + (var(--maxParagraphUnitless) - var(--minParapgraphUnitless)) * ((100vw - var(--minView)) / (var(--maxViewUnitless) - var(--minViewUnitless))));
    --fluidH1: calc(var(--minH1) + (var(--maxH1Unitless) - var(--minH1Unitless))*((100vw - var(--minView))/(var(--maxViewUnitless)- var(--minViewUnitless))));
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: var(--fluidH1);
}

h2 {
    font-family: Helvetica, sans-serif;
}

h3 {
    font-family: Helvetica, sans-serif;
}

h4 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: var(--fluidParagraph);
    margin: 0px;
}

a {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fluidParagraph);
    line-height: 30px;
  
    color: var(--Text);
  
  /* Inspired by this article by Harshil Patel:
  https://css-tricks.com/css-link-hover-effects */
      text-decoration: none;
  
      background:
        var(--UnderlineGradient);
  
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms, color 400ms, font-weight 400ms, font-size 400ms, line-height 400ms;
  }

a:hover {
    background-size: 0 3px, 100% 3px;
    color: var(--Text);
    font-weight: 800;
    font-size: var(--fluidParagraph);
  }

a.subtle {
  font-family: 'Helvetica';
  text-decoration: none;
  font-weight: 500;
  font-size: var(--fluidParagraph);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, font-size 400ms
  }


a.subtle:hover {
    background-size: 0 2px, 100% 3px;
    color: var(--Text);
    font-weight: 550;
    font-size:var(--fluidParagraph);
}

nav{
    position: fixed;
    height: 40;
    top: 0;
    width: 100%;
    transition: top .3s;
    font-family: "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    word-wrap: normal;
    color: #000000;
    z-index: 10;
}

img {
  width: 100%;
  height: auto;
}
  
wrapper{
    padding:5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    left:0px;
    right:0px;
    top:0px;

}

container.flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    padding: 0px;
    gap: 12px;

    max-width: 1048px;
}

container.flex_stacker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;
    gap: 12px;

    max-width: 1048px;

}

wrapper.garden{
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;

    background-color: rgb(62, 73, 11);
    color:rgb(216, 226, 175);
  }

  p.flowerbed{
    font-family: 'Times New Roman', Times, serif;
  }

  p.vegetable_row{
    font-family: 'Times New Roman', Times, serif;
}
