</*Text Stylesheet and general settings*/>
.part1{
  font-family: cursive;
}
.hed1{
  font-family:"Roboto";
  font-style:""
}
.par1{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  word-wrap: normal;
  color: #000000;
  margin:0px;
}

.img {
  width: inherit;
}

a {
  color: deeppink;
  font-weight: 600;
  text-decoration: none;
}

.container {
  display:grid;
  width:400px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 400px;
  background-color: skyblue;
}

.subcontainer {
  width: 400px;
  display:grid;
  grid-template-columns:100px auto 200px;
  grid-template-rows:auto;
  border: 10px;
  border-color: black;
  text-align: center;
  padding-top: 25px
}

.col{
  font-family:sans-serif, "Roboto";
  font-weight:700;
  
}
.balls{
  font-family: cursive;
  font-size: 36px;
  border: 20px #fff;
}

</*Elements of the layout including titles, section wrappers, and grid containers holding section content.
.heading-wrapper{
  margin-top:100px;
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  margin-bottom:30px;
  display: grid;
  grid-template-columns: 1180px;
  grid-template-rows: 173px;
}

.title-wrapper{
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  width: 1180px;
  height: 50px;
}

  .section-line{
    position: relative;
    width: inherit;
    height: 0px;
    top: 45px;
    border: 1px solid #000000;
}

#wrapper-mobileweb{
  margin-top:20px;
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  margin-bottom:30px;
  width: 1180px;
  height: 2089px;
}
.mobileweb-gridContainer{
  width:inherit;
  display: grid;
  grid-template-rows: 864px 50px 520px 50px 605px;
  grid-template-columns: auto;
}


</*Subcontainers holding a media/text pairing.
.text-then-media1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 245px auto 900px;
  grid-template-rows: 100%;
}

.media-then-text1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 900px auto 245px;
  grid-template-rows: 100%;
}

</*Specifications for text and media that occupy either the left or right column*/>
.left-column{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
  word-wrap: normal;
}

.right-column{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  word-wrap: normal;
}


</*Other Stuff

.pink-top-filler{
  height:150px;
  width:inherit;
  background-color:deeppink;
}

*/>