</*Text Stylesheet and general settings*/>

.hed1{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #000000;
  height: 36px;
  margin-top: 0px;
  margin-bottom: 25px
}

.par1{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  word-wrap: normal;
  color: #000000;
  margin:0px;
}

.img {
  width: inherit;
}

a {
  color: deeppink;
  font-weight: 600;
  text-decoration: none;
}


</*Elements of the layout including titles, section wrappers, and grid containers holding section content.*/>
.heading-wrapper{
  margin-top:100px;
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  margin-bottom:30px;
  display: grid;
  grid-template-columns: 1180px;
  grid-template-rows: 173px;
}

.title-wrapper{
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  width: 1180px;
  height: 50px;
}

  .section-line{
    position: relative;
    width: inherit;
    height: 0px;
    top: 45px;
    border: 1px solid #000000;
}

#wrapper-mobileweb{
  margin-top:20px;
  margin-left: 100px;
  margin-right: calc(100% - 1280px);
  margin-bottom:30px;
  width: 1180px;
  height: 2089px;
}
.mobileweb-gridContainer{
  width:inherit;
  display: grid;
  grid-template-rows: 864px 50px 520px 50px 605px;
  grid-template-columns: auto;
}


</*Subcontainers holding a media/text pairing.*/>
.text-then-media1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 245px auto 900px;
  grid-template-rows: 100%;
}

.media-then-text1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 900px auto 245px;
  grid-template-rows: 100%;
}

</*Specifications for text and media that occupy either the left or right column*/>
.left-column{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
  word-wrap: normal;
}

.right-column{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  word-wrap: normal;
}


</*Other Stuff*/>

.pink-top-filler{
  height:150px;
  width:inherit;
  background-color:deeppink;
}